/* ProductList.css

.card {
    margin-bottom: 20px;
  }
  
  .card-title {
    font-size: 1.2rem;
  }
  
  .card-text {
    font-size: 1rem;
  }
  
  .btn {
    font-size: 1rem;
  }
   */


   /* ProductList.css */
/* ProductList.css */
.product-list-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.product-card {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  background-color: #fff;
  text-decoration: none; /* Remove the underline from links */
}

.product-card img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

.product-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}

.product-card p {
  font-size: 1rem;
  margin: 5px 0;
}

/* Add additional styles as needed */

